.limitador{
    max-width: 1400px;
    margin: 0 auto;
}

.espaco{
    padding: 15px;
}

.espaco img {
    width: 100%;
    height: auto;
    max-width: 100%;
    opacity: 1; /* Defina a opacidade inicial para 1 (totalmente visível) */
    transition: opacity 0.3s ease; /* Adicione uma transição suave para a propriedade de opacidade com duração de 0.3 segundos e função de temporização 'ease' */
    border-radius: 10px;
}

.espaco img:hover {
    opacity: 0.8; /* Defina a opacidade quando o mouse estiver sobre a imagem */
    border-radius: 10px;
}

@media (min-width: 768px) {
    .col-sm-6.espaco {
        border-radius: 10px;
        width: 36vw; 
        margin: 0 auto; 
    }
}

body {
    opacity: 0; /* Configura a opacidade do corpo da página para 0 por padrão */
    transition: opacity 1s ease-in-out; /* Adiciona uma transição suave para a propriedade de opacidade */
}

body.loaded {
    opacity: 1; /* Quando a classe 'loaded' é adicionada ao corpo da página, a opacidade é definida como 1 */
}


