.limitador{
    max-width: 1400px;
    margin: 0 auto;
}

body {
    opacity: 0; /* Configura a opacidade do corpo da página para 0 por padrão */
    transition: opacity 1s ease-in-out; /* Adiciona uma transição suave para a propriedade de opacidade */
    background: linear-gradient(to bottom right, #E0E0E0); /
}

body.loaded {
    opacity: 1; 
}

.espaco{
    padding: 15px;
}

.espaco img {
    width: 100%;
    height: auto;
    max-width: 100%;
    opacity: 1; 
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.espaco img:hover {
    opacity: 0.8; /* Defina a opacidade quando o mouse estiver sobre a imagem */
    border-radius: 10px;
}

.navbar-brand{
    font-size: 2.5rem;
}





@media (min-width: 768px) {
    .col-sm-6.espaco {
        border-radius: 10px;
        width: 36vw; 
        margin: 0 auto; 
    }
}




